/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
.nav {
  padding: 50px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
  }
}

.active {
  color: green;
}

.nameCity {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 2rem auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.blank-layout {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}